html{
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 28px;
    margin-bottom: 28px;
}
*,::before,::after{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}
body{
    font-size: 12px;
    font-weight: 400; 
    color: #212529;
} 
body, html { 
    font-family: sans-serif;
}
table {
    width: 100%;
} 
/* table {
    display: table;
    border-collapse: collapse;
    border-color: grey;
} */

.th { 
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0; /*#6c7ae0 */
    padding-top: 10px;
    padding-bottom: 10px;
}
.head{
    /* padding-top: 12px;
    padding-bottom: 12px; */
}
.center{
    text-align: center;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style-type: none;
}
.tablepe > tr:nth-child(even) {
    background-color: #f8f6ff;
}
.tablepe{
    /* border: 1px solid black;*/
     border-collapse: collapse; 
}
  .body > th{ 
  /*  border: 1px solid rgb(49, 49, 49);*/
    border: 1px solid rgb(29, 29, 29); /*#6c7ae0*/
 }  
.body > td{
    border: 1px solid rgb(29, 29, 29);
}
 