<tr class="body">
    <td class="center">{{id}}</td>
    <td class="center">{{fecha_emitido}}</td>
    <td class="center">{{serie}}</td>
    <td class="center">{{numero}}</td>
    <td class="center">{{cliente}}</td>
    <td class="center">
        <table >
            <!-- <thead>
                <tr >
                    <th  class="center">Codigo</td>
                    <th class="center">Nombre Producto</th class="center">
                    <th class="center">Cantidad</th>
                    <th class="center">Precio</th class="center">
                    <th class="center">Sub.Total</th class="center">
                </tr>
            </thead> -->
                <tbody>
                    
                        {{productos_vendidos}}
                    
                </tbody>
            </table>
    </td>
    <td class="center">{{total}}</td>
</tr>